@import "compass/reset";
@import url(//fonts.googleapis.com/css?family=Raleway:300,100,400|Open+Sans:800,700,400,300);

$font-family-raleway: 'Raleway', sans-serif;
$font-family-opensans: 'Open Sans', sans-serif;

$color-monochromatic-1: #57187F;
$color-monochromatic-2: #E0B0FF;
$color-monochromatic-3: #AE31FF;
$color-monochromatic-4: #55147F;
$color-monochromatic-5: #8B27CC;

* {
    outline: none;
}

*[readonly="readonly"] {
    color: #999;
}

body {
    font-family: $font-family-opensans;
    background-color: #F5EAFF;
}


.inputGroup {
    display: inline-block;
    position: relative;
    i {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -8px;
    }

    &:hover .results {
        display: block;
    }

    .results {
        display: none;

        &:empty {
            display: none !important;
        }

        background: #fff;
        position: absolute;
        width: 100%;
        font-size: 14px;
        li {
            position: relative;
            transition: background-color 0.2s ease-in-out;
            padding: 12px;
            border-bottom: 1px solid #8B27CC;
            &:hover {
                background: lighten(#E0B0FF, 10%);
            }
        }
    }

    input {
        margin: 2px 0;
    }

}

.screenLogin {
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: linear;

    background-color: #55147F;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    height: 100vh;
    text-align: left;

    &.loggedIn {
        height: 150px;
    }

    h1 {
        font-family: $font-family-raleway;
        letter-spacing: 0.3em;
        font-weight: 100;
        color: #55147F;
        display: inline-block;
        font-size: 30px;
        text-transform: none;
        small {
            vertical-align: top;
            letter-spacing: 0.2em;
            font-size: 10px;
        }
    }


    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .container {
        width: 900px;
        margin: auto;
        background-color: rgba(255,255,255, 0.6);
        padding: 15px 30px;
        box-sizing: content-box;
        display: table;
        & > div {
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            &:first-child {
                text-align: left;
            }
        }
    }

    .inputGroup {
        width: 100%;
        input {
            padding-right: 38px;
        }
    }

    input {
        text-align: center;
        width: 100%;
        font-weight: 300;
        font-family: $font-family-opensans;
        padding: 15px;
        font-size: 23px;
        background: lighten(#E0B0FF, 10%);
        border: none;
        border-bottom: 1px solid #8B27CC;
        box-sizing: border-box;
    }
}


.sidebar {

    transition: 1s right ease-in-out;
    position: absolute;
    right: 0;
    z-index: 999999;

    &.hide {
        position: fixed;
        right: -350px;
    }

    h3 {
        margin: 20px 0;
        font-size: 16px;
        color: darken(#55147F, 25%);
    }

    .inputGroup {
        width: 100%;
        input {
            padding-right: 45px !important;
        }
    }

    .container {
        display: none;
        width: 350px;
        min-height: 300px;
        background-color: #E0B0FF;
        z-index: 2;
        position: relative;
        padding: 30px;
        box-sizing: border-box;

        &.show {
            display: inline-block;
        }
    }

    nav {
        float: left;
        display: inline-block;

        ul {
            margin-top: 45px;
        }

        li {
            transition-property: right, background-color;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;

            box-shadow: inset 15px 0px 20px -15px rgba(0,0,0,0.71);
            z-index: 1;
            position: relative;
            right: -6px;
            cursor: pointer;
            padding: 15px;
            background-color: #57187F;
            color: #E0B0FF;
            display: block;
            width: 15px;
            line-height: 15px;
            text-align: center;

            &.selected {
                box-shadow: inset 15px 0px 20px -15px rgba(255,255,255,0.71);
                background-color: #E0B0FF;
                color: #57187F;
                right: 0;
                &:hover {
                    background-color: #E0B0FF;
                    right: 0;
                }
            }

            &:hover {
                right: 0;                
                background-color: lighten(#57187F, 10%);
            }
        }
    }

    hr {
        border: none;
        border-top: 1px solid #AE31FF;
        margin: 20px 0;
    }

    button, input[type='submit'] {
        cursor: pointer;
        padding: 12px;
        background: none;
        background-color: #8B27CC;
        color: #F5EAFF;
        width: 100%;
        border: none;
        font-family: $font-family-opensans;
        margin: 2px 0;
        &:hover {
            background-color: lighten(#8B27CC, 5%);
            color: #fff;
        }
    }

    .buttonList {
        margin: 20px 0;

    }

    .searchIn {
        margin: 20px 0;
        background-color: #F5EAFF;
        padding: 15px;
        font-size: 14px;
        line-height: 23px;

        &:empty {
            display: none;
        }

        li {

            cursor: pointer;

            &:before {
                transition-property: margin-right color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;

                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                display: inline-block;
                margin-right: 15px;
                text-decoration: inherit;
                content: "\f146";
            }
            &:hover:before {
                margin-right: 10px;
                color: #AE31FF;
            }
        }
    }

    p {
        margin: 20px 0;
        text-align: justify;
        font-size: 12px;
        line-height: 18px;
    }
    
    .parameters {

        li {
            overflow: hidden;
            cursor: pointer;
            background-color: #F5EAFF;
            margin: 20px 0;
            padding: 15px;
            font-size: 14px;
            line-height: 20px;
            position: relative;


            & > div:before {
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                display: inline-block;
                margin-right: 15px;
                text-decoration: inherit;
                content: "\f146";
            }
            & > div:first-child:before {
                content: "\f0c1";
            }

            & > div:first-child:before {
                content: "\f0c1";
            }

            & > div:last-child:before {
                content: "\f0db";
            }

            &:hover:after {
                right: 15px;
                color: #AE31FF;
            }

            &:after {
                transition: all 0.2s ease-in-out;
                transition-property: color right;
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                display: inline-block;
                margin-right: 15px;
                text-decoration: inherit;
                content: "\f146";
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -8px;
            }

        }

        &.xpath li > div {
            &:before {
                content: "\f1c0";
            }
            &:first-child:before {
                content: "\f121";
            }
            &:last-child:before {
                content: "\f0db";
            }
        }


    }

}

.field {
    margin: 20px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    input[type="text"] {
        border: none;
        border-bottom: 1px solid #8B27CC;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        font-family: $font-family-opensans;
    }
    label {
        text-transform: uppercase;
        line-height: 12px;
        font-size: 8px;
        display: block;
        text-align: right;
    }

}

.table {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 45px;
    overflow: auto;
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: table;
    z-index: 999999;
    top: 0;
    left: 0;
    &.hide {
        display: none;
    }
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.moon {
    -moz-animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    background: url(../img/loader.png) center no-repeat;
    height: 368px;
    width: 368px;
    margin: auto;
    vertical-align: middle;
    display: table-cell;
}

.waitLogin {
    display: none;
}

.textWarning {
    padding: 12px;
    border-radius: 3px;
    background-color: #F5EAFF;
    
}
