@import url(//fonts.googleapis.com/css?family=Raleway:300,100,400|Open+Sans:800,700,400,300);
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
* {
  outline: none;
}

/* line 17, ../sass/screen.scss */
*[readonly="readonly"] {
  color: #999;
}

/* line 21, ../sass/screen.scss */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #F5EAFF;
}

/* line 27, ../sass/screen.scss */
.inputGroup {
  display: inline-block;
  position: relative;
}
/* line 30, ../sass/screen.scss */
.inputGroup i {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -8px;
}
/* line 37, ../sass/screen.scss */
.inputGroup:hover .results {
  display: block;
}
/* line 41, ../sass/screen.scss */
.inputGroup .results {
  display: none;
  background: #fff;
  position: absolute;
  width: 100%;
  font-size: 14px;
}
/* line 44, ../sass/screen.scss */
.inputGroup .results:empty {
  display: none !important;
}
/* line 52, ../sass/screen.scss */
.inputGroup .results li {
  position: relative;
  transition: background-color 0.2s ease-in-out;
  padding: 12px;
  border-bottom: 1px solid #8B27CC;
}
/* line 57, ../sass/screen.scss */
.inputGroup .results li:hover {
  background: #f4e3ff;
}
/* line 63, ../sass/screen.scss */
.inputGroup input {
  margin: 2px 0;
}

/* line 69, ../sass/screen.scss */
.screenLogin {
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: linear;
  background-color: #55147F;
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  height: 100vh;
  text-align: left;
}
/* line 82, ../sass/screen.scss */
.screenLogin.loggedIn {
  height: 150px;
}
/* line 86, ../sass/screen.scss */
.screenLogin h1 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.3em;
  font-weight: 100;
  color: #55147F;
  display: inline-block;
  font-size: 30px;
  text-transform: none;
}
/* line 94, ../sass/screen.scss */
.screenLogin h1 small {
  vertical-align: top;
  letter-spacing: 0.2em;
  font-size: 10px;
}
/* line 102, ../sass/screen.scss */
.screenLogin .middle {
  display: table-cell;
  vertical-align: middle;
}
/* line 107, ../sass/screen.scss */
.screenLogin .container {
  width: 900px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px 30px;
  box-sizing: content-box;
  display: table;
}
/* line 114, ../sass/screen.scss */
.screenLogin .container > div {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
/* line 118, ../sass/screen.scss */
.screenLogin .container > div:first-child {
  text-align: left;
}
/* line 124, ../sass/screen.scss */
.screenLogin .inputGroup {
  width: 100%;
}
/* line 126, ../sass/screen.scss */
.screenLogin .inputGroup input {
  padding-right: 38px;
}
/* line 131, ../sass/screen.scss */
.screenLogin input {
  text-align: center;
  width: 100%;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  font-size: 23px;
  background: #f4e3ff;
  border: none;
  border-bottom: 1px solid #8B27CC;
  box-sizing: border-box;
}

/* line 146, ../sass/screen.scss */
.sidebar {
  transition: 1s right ease-in-out;
  position: absolute;
  right: 0;
  z-index: 999999;
}
/* line 153, ../sass/screen.scss */
.sidebar.hide {
  position: fixed;
  right: -350px;
}
/* line 158, ../sass/screen.scss */
.sidebar h3 {
  margin: 20px 0;
  font-size: 16px;
  color: #0b0311;
}
/* line 164, ../sass/screen.scss */
.sidebar .inputGroup {
  width: 100%;
}
/* line 166, ../sass/screen.scss */
.sidebar .inputGroup input {
  padding-right: 45px !important;
}
/* line 171, ../sass/screen.scss */
.sidebar .container {
  display: none;
  width: 350px;
  min-height: 300px;
  background-color: #E0B0FF;
  z-index: 2;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
}
/* line 181, ../sass/screen.scss */
.sidebar .container.show {
  display: inline-block;
}
/* line 186, ../sass/screen.scss */
.sidebar nav {
  float: left;
  display: inline-block;
}
/* line 190, ../sass/screen.scss */
.sidebar nav ul {
  margin-top: 45px;
}
/* line 194, ../sass/screen.scss */
.sidebar nav li {
  transition-property: right, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  box-shadow: inset 15px 0px 20px -15px rgba(0, 0, 0, 0.71);
  z-index: 1;
  position: relative;
  right: -6px;
  cursor: pointer;
  padding: 15px;
  background-color: #57187F;
  color: #E0B0FF;
  display: block;
  width: 15px;
  line-height: 15px;
  text-align: center;
}
/* line 212, ../sass/screen.scss */
.sidebar nav li.selected {
  box-shadow: inset 15px 0px 20px -15px rgba(255, 255, 255, 0.71);
  background-color: #E0B0FF;
  color: #57187F;
  right: 0;
}
/* line 217, ../sass/screen.scss */
.sidebar nav li.selected:hover {
  background-color: #E0B0FF;
  right: 0;
}
/* line 223, ../sass/screen.scss */
.sidebar nav li:hover {
  right: 0;
  background-color: #7420aa;
}
/* line 230, ../sass/screen.scss */
.sidebar hr {
  border: none;
  border-top: 1px solid #AE31FF;
  margin: 20px 0;
}
/* line 236, ../sass/screen.scss */
.sidebar button, .sidebar input[type='submit'] {
  cursor: pointer;
  padding: 12px;
  background: none;
  background-color: #8B27CC;
  color: #F5EAFF;
  width: 100%;
  border: none;
  font-family: "Open Sans", sans-serif;
  margin: 2px 0;
}
/* line 246, ../sass/screen.scss */
.sidebar button:hover, .sidebar input[type='submit']:hover {
  background-color: #9834d8;
  color: #fff;
}
/* line 252, ../sass/screen.scss */
.sidebar .buttonList {
  margin: 20px 0;
}
/* line 257, ../sass/screen.scss */
.sidebar .searchIn {
  margin: 20px 0;
  background-color: #F5EAFF;
  padding: 15px;
  font-size: 14px;
  line-height: 23px;
}
/* line 264, ../sass/screen.scss */
.sidebar .searchIn:empty {
  display: none;
}
/* line 268, ../sass/screen.scss */
.sidebar .searchIn li {
  cursor: pointer;
}
/* line 272, ../sass/screen.scss */
.sidebar .searchIn li:before {
  transition-property: margin-right color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  margin-right: 15px;
  text-decoration: inherit;
  content: "\f146";
}
/* line 285, ../sass/screen.scss */
.sidebar .searchIn li:hover:before {
  margin-right: 10px;
  color: #AE31FF;
}
/* line 292, ../sass/screen.scss */
.sidebar p {
  margin: 20px 0;
  text-align: justify;
  font-size: 12px;
  line-height: 18px;
}
/* line 301, ../sass/screen.scss */
.sidebar .parameters li {
  overflow: hidden;
  cursor: pointer;
  background-color: #F5EAFF;
  margin: 20px 0;
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}
/* line 312, ../sass/screen.scss */
.sidebar .parameters li > div:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  margin-right: 15px;
  text-decoration: inherit;
  content: "\f146";
}
/* line 321, ../sass/screen.scss */
.sidebar .parameters li > div:first-child:before {
  content: "\f0c1";
}
/* line 325, ../sass/screen.scss */
.sidebar .parameters li > div:first-child:before {
  content: "\f0c1";
}
/* line 329, ../sass/screen.scss */
.sidebar .parameters li > div:last-child:before {
  content: "\f0db";
}
/* line 333, ../sass/screen.scss */
.sidebar .parameters li:hover:after {
  right: 15px;
  color: #AE31FF;
}
/* line 338, ../sass/screen.scss */
.sidebar .parameters li:after {
  transition: all 0.2s ease-in-out;
  transition-property: color right;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  margin-right: 15px;
  text-decoration: inherit;
  content: "\f146";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
}
/* line 357, ../sass/screen.scss */
.sidebar .parameters.xpath li > div:before {
  content: "\f1c0";
}
/* line 360, ../sass/screen.scss */
.sidebar .parameters.xpath li > div:first-child:before {
  content: "\f121";
}
/* line 363, ../sass/screen.scss */
.sidebar .parameters.xpath li > div:last-child:before {
  content: "\f0db";
}

/* line 373, ../sass/screen.scss */
.field {
  margin: 20px 0;
}
/* line 376, ../sass/screen.scss */
.field:first-child {
  margin-top: 0;
}
/* line 380, ../sass/screen.scss */
.field:last-child {
  margin-bottom: 0;
}
/* line 384, ../sass/screen.scss */
.field input[type="text"] {
  border: none;
  border-bottom: 1px solid #8B27CC;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
/* line 393, ../sass/screen.scss */
.field label {
  text-transform: uppercase;
  line-height: 12px;
  font-size: 8px;
  display: block;
  text-align: right;
}

/* line 403, ../sass/screen.scss */
.table {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 45px;
  overflow: auto;
}

/* line 411, ../sass/screen.scss */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: table;
  z-index: 999999;
  top: 0;
  left: 0;
}
/* line 420, ../sass/screen.scss */
.loader.hide {
  display: none;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* line 452, ../sass/screen.scss */
.moon {
  -moz-animation: rotating 2s linear infinite;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  background: url(../img/loader.png) center no-repeat;
  height: 368px;
  width: 368px;
  margin: auto;
  vertical-align: middle;
  display: table-cell;
}

/* line 464, ../sass/screen.scss */
.waitLogin {
  display: none;
}

/* line 468, ../sass/screen.scss */
.textWarning {
  padding: 12px;
  border-radius: 3px;
  background-color: #F5EAFF;
}
